# Install and configure Supervisor
---

- ansible.builtin.assert:
    that:
      - supervisor_daemon_mode in supervisor_daemon_modes
      - not supervisor_credentials_enabled|bool or supervisor_password is defined
      - not supervisor_credentials_enabled|bool or supervisor_username is defined
      - supervisor_version is defined
  tags: [supervisor, always]

- block:
    - name: Remove Supervisor package
      ansible.builtin.package:
        name: supervisor
        state: absent

    - name: Install Supervisor Python packages
      ansible.builtin.pip:
        name: supervisor
        executable: '{{ supervisor_pip_path }}'
        state: "{{ (supervisor_version == 'latest')|ternary('latest', omit) }}"
        umask: '{{ supervisor_pip_umask }}'
        version: "{{ (supervisor_version == 'latest')|ternary(omit, supervisor_version) }}"
      environment: '{{ supervisor_pip_environment }}'
      notify: restart supervisor
  become: '{{ do_become }}'
  tags: [supervisor, packages]

- block:
    - name: Create Supervisor directories
      ansible.builtin.file:
        name: '{{ item }}'
        mode: '755'
        state: directory
      loop:
        - /etc/supervisor/conf.d
        - /var/log/supervisor

    - name: Create Supervisor socket group
      ansible.builtin.group:
        name: '{{ supervisor_socket_group }}'
        state: present
        system: true

    - name: Configure Supervisor
      ansible.builtin.template:
        src: supervisord.conf.j2
        dest: /etc/supervisor/supervisord.conf
        mode: '644'
      notify: restart supervisor

    - name: Symlink Configuration for supervisorctl
      ansible.builtin.file:
        src: /etc/supervisor/supervisord.conf
        dest: /etc/supervisord.conf
        state: link

    - include_tasks: setup-service-{{ supervisor_daemon_mode }}.yml

    - meta: flush_handlers
  become: '{{ do_become }}'
  tags: [supervisor, config]

- name: Start Supervisor service
  ansible.builtin.service:
    name: supervisor
    enabled: true
    state: started
  become: '{{ do_become }}'
  tags: [supervisor, services]

...
